	.body   {
		background-image: url('/assets/background_site.png');
		background-repeat: no-repeat;
		background-attachment: fixed;
		background-size: cover;
	}
	.top-header {
		position:fixed
		top:0
		left:0
		width:100%
	}
	.top-header div {
		width:2.5%;
		height: 5%;
		float:right;
		position:relative;
		top:10%;
		right:0;
	}
	.footer {
		position:fixed;
		bottom:0;
		left:0;
		width:100%;
	}
	.footer-image {
		position:fixed;
		bottom:0px;
		left:0px;
		width:100%;
		height:10%;
	}
	.footer div {
		font-family:courier;
		font-size: 10pt;
		color:#313d49d9;
		width:10%;
		float:left;
		position:relative;
		bottom:5%;
		left:5%;
	}
	.corner-logo {
		position:fixed;
		bottom:1%;
		right:1%;
		width:3%;
		height:6%;
	}	
	.site-frame {
		background-color:#313d49d9; 
		margin:auto;
	}
	a:href {
		color: #313d49d9;
		background-color: transparent;
		text-decoration: none;
	}
	a:visited {
		color: #313d49d9;
		text-decoration: underline;
	}
	a:hover {
		color: #2b3541ff;
		background-color: transparent;
		text-decoration: underline;
	}
	a:active {
		color: black;
		background-color: transparent;
		text-decoration: underline;
	}