/* brand colours
	white - #d2d5d7
	dark white - #c1c6ce
	grey - #313d49
	dark grey - #2b3541
	blue - #aac6cb
*/

@font-face {
    font-family: 'Thinman'; /*a name to be used later*/
    src: url('http://domain.example/fonts/font.ttf'); /*URL to font*/
}

	.body   {
		background-image: url('/assets/background_site.png');
		background-repeat: no-repeat;
		background-attachment: fixed;
		background-size: cover;
	}
	.top-header {
		position:relative;
		top:10;
		left:0;
		width:100%;
	}
	.top-header div {
		position:relative;
		width:2.5%;
		height:20%;
		float:right;
		top:10%;
		right:1%;
	}
	.logo-header {
		position:relative;
		width:15%;
		left: 50%;
		transform:translate(-50%);
		display:block flex;
		padding-bottom:1%;
	}
	.content {
		position:absolute;
		background-color:#2b3541;
		height:auto;
		width:80%;
		left: 50%;
		transform:translate(-50%);
	}

	.content p {
		position:relative;
		font-family:courier;
		font-size:13pt;
		color:#d2d5d7;
		text-align:justify;
	}
	
	.content ul {
		position:relative;
		font-family:courier;
		font-size:13pt;
		color:#d2d5d7;
		text-align:justify;
	}

	.content a {
		position:relative;
		font-family:courier;
		font-size:13pt;
		color:#c1c6ce;
	}

	.header1 {
		position:relative;
		font-family:courier;
		font-size:20pt;
		color:#c1c6ce;
		text-align:justify;
		font-weight:bolder;
	}

	.header2 {
		position:relative;
		font-family:courier;
		font-size:15pt;
		color:#c1c6ce;
		text-align:justify;
		font-weight:bold;
	}

	.header-links {
		position:relative;
		height:10%;
		width:40%;
		left: 50%;
		transform:translate(-50%);
		padding-top:2%
	}

	.header-links td {
		height: 50px; 
    	width: 50px;
	}

	.header-links a {
		font-family: 'Thinman';
		color:#aac6cb;
		font-size:15pt;
		text-decoration:none;
		text-align: center;
		vertical-align: middle
	}

	.footer {
		position:fixed;
		bottom:1%;
		left:0;
		width:100%;
	}
	.footer-image {
		position:fixed;
		bottom:0px;
		left:0px;
		width:100%;
		height:9%;
	}
	.footer div {
		font-family:courier;
		font-size: 10pt;
		color:#313d49d9;
		width:10%;
		height:10%;
		float:left;
		position:relative;
		bottom:5%;
		left:1%;
	}
	.corner-logo {
		position:fixed;
		bottom:1%;
		right:1%;
		width:auto;
		height:4%;
	}	
	.copywrite {
		position:fixed;
		bottom:1%;
		left:1%;
		font-family:courier;
		font-size: 10pt;
		color:#313d49d9;
	}	
	.site-frame {
		background-color:#313d49d9; 
		margin:auto;
	}
	.footer a {
		color: #313d49d9;
		background-color: transparent;
		text-decoration: none;
	}
	.footer a:visited {
		color: #313d49d9;
		text-decoration: underline;
	}
	.footer a:hover {
		color: #2b3541ff;
		background-color: transparent;
		text-decoration: underline;
	}
	.footer a:active {
		color: black;
		background-color: transparent;
		text-decoration:none;
	}