/* brand colours
	white - #d2d5d7
	dark white - #c1c6ce
	grey - #313d49
	dark grey - #2b3541
	blue - #aac6cb
*/
	.body   {
		background-image: url('/assets/background_site.png');
		background-repeat: no-repeat;
		background-attachment: fixed;
		background-size: cover;
	}
	.top-header {
		position:relative;
		top:10;
		left:0;
		width:100%;
	}
	.top-header div {
		position:relative;
		width:2.5%;
		height:20%;
		float:right;
		top:10%;
		right:1%;
	}
	.logo-header {
		position:relative;
		width:15%;
		left: 50%;
		transform:translate(-50%);
		display:block flex;
		padding-bottom:1%;
	}
	.content {
		position:absolute;
		background-color:#2b3541;
		height:80%;
		width:60%;
		left: 50%;
		transform:translate(-50%);
	}

	.content p {
		position:relative;
		font-family:courier;
		font-size:30pt;
		color:#c1c6ce;
		font-weight:bolder;
		text-align:center
		
	}

	.footer {
		position:fixed;
		bottom:1%;
		left:0;
		width:100%;
	}
	.footer-image {
		position:fixed;
		bottom:0px;
		left:0px;
		width:100%;
		height:12.5%;
	}
	.footer div {
		font-family:courier;
		font-size: 10pt;
		color:#313d49d9;
		width:10%;
		height:10%;
		float:left;
		position:relative;
		bottom:5%;
		left:1%;
	}
	.corner-logo {
		position:fixed;
		bottom:1%;
		right:1%;
		width:auto;
		height:6%;
	}	
	.copywrite {
		position:fixed;
		bottom:1%;
		left:1%;
		font-family:courier;
		font-size: 10pt;
		color:#313d49d9;
	}	
	.site-frame {
		background-color:#313d49d9; 
		margin:auto;
	}
	a:href {
		color: #313d49d9;
		background-color: transparent;
		text-decoration: none;
	}
	a:visited {
		color: #313d49d9;
		text-decoration: underline;
	}
	a:hover {
		color: #2b3541ff;
		background-color: transparent;
		text-decoration: underline;
	}
	a:active {
		color: black;
		background-color: transparent;
		text-decoration: underline;
	}